# 
# trey stuff
# 
*.[oa]
*~
.*.swp
.#*
\#*\#
.git/
*.elc
*.bak
*.py[co]
private_config/

#
# default github python stuff
#

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox

#Translations
*.mo

#Mr Developer
.mr.developer.cfg
